@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2596be;
  color: #fff;
}
.container {
  padding: 30px 50px;
}
.inputBx {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
.inputBx input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}
.inputBx button {
  position: relative;
  top: 120px;
  left: 482px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #040f13;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}


@media (max-width: 1200px) {
  .inputBx { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  .inputBx { width: 100%; }
  .info { font-size: 0.5rem; }
}